<table class="table table-striped">
    <caption>Top 100</caption>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Size</th>
            <th>Seeder</th>
            <th>Leecher</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="top in top100">
            <td>{{ top.name }}</td>
            <td class="col-lg-3">{{ top.size|bytesToMo }}</td>
            <td>{{ top.seeders }}</td>
            <td>{{ top.leechers }}</td>
            <td class="col-lg-1"><button>Get it !</button></td>
        </tr>
    </tbody>

</table>