<form name="login">
    <fieldset>
        <legend>Transmission Login</legend>
        <div class="form-group">
            <label for="server">Transmission URL</label>
            <input type="text" class="form-control" id="server" placeholder="Enter url server name" ng-model="user.server" required>
        </div>
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" class="form-control" id="user" placeholder="Enter username" ng-model="user.login" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password"  ng-model="user.password" required>
        </div>

        <button type="submit" class="btn btn-default" ng-disabled="form.$valid" ng-click="connect()">Submit</button>
    </fieldset>
    {{ error }}
</form>