Nombre de torrent : {{ info.torrentCount }}

<div ng-repeat="torrent in torrents">
    {{ torrent.name }} percent Done : {{ torrent.percentDone*100 | number:2 }} % Size : {{ torrent.totalSize |bytesToMo}}
    <div class="progress" ng-class="{active:torrent.percentDone!=1, 'progress-striped':torrent.percentDone!=1}">
        <div class="progress-bar" ng-style="{width: torrent.percentDone*100 +'%'}" ng-class="{'progress-bar-success':torrent.percentDone==1}"></div>
    </div>
</div>

Refresh <input type="checkbox" ng-model="refresh">